/* ---------------------------
-- Global
-----------------------------*/

body {
	background-color: #ECF9FF!important;
}

button {
    background: #0084B4;
	
    color: #fff;
    border: 1px solid #00A5E0;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
}

button:hover {
	background: #00A5E0;
}

.dropdown {
  display: inline;
}

/* ---------------------------
-- Post Modal
-----------------------------*/

input#sweepstakes_link {
  margin-bottom: 14px;
  width: 75%;
  resize: none;
  border-color: rgba(83, 169, 234, 0.85);
  border-radius: 12px;
}

div#tweet-message-count {
  margin-top: -28px;
  margin-right: 5px;
}

textarea.tweet-message {
  width: 100%;
  resize: none;
  border-color: rgb(83, 169, 234);
  border-radius: 12px;
  padding: 10px;
}

#post-modal .modal-header .close {
  margin-top: -6px;
  padding: 10px;
}

#post_btn {
  opacity: .5;
}

#postErrors {
    font-size: 12px;
  
    color: red;
    padding: 10px;
}

#share-button {
    margin-top: 20px;   background: #fff;   padding: 15px;   border: 1px solid #DDD;   border-radius: 5px;   overflow: hidden;   max-width: 243px;

    text-align: center;
}

#share-button h2 {

    color: #777777;   margin: 0;   margin-bottom: 10px;   font-size: 18px;
    

    float: left;

}

#share-button img {
    margin: 10px;
  
}

#share-button textarea {
    font-size: 12px;
  
    color: #777777;
    width: 100%;
    border: 1px solid #337AB7;
}

button.btn.btn-primary.cancel-post:hover {
  background-color: rgba(255, 0, 0, 0.80);
  border-color: black;
}

button.btn.btn-primary.cancel-post {
  background-color: rgba(255, 142, 142, 1);
  margin-right: 5px;
  border-color: black;
  width: 63px;
  padding: 5px;
  height: 33px;
}

.choose_file {
  position: relative;
  border-radius: 3px;
  border: #000000 solid 1px;
  width: 139px;
  text-align: center;
  padding: 1px 8px 3px 0px;
  font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
  color: #000000;
  margin-top: 2px;
  margin-right: -2px;
  background: rgb(82, 165, 229);
}

div#photo-text {
  margin-top: 10px;
}


.choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}

/* ---------------------------
-- Navbar
-----------------------------*/

#side-social {
    position: fixed;
  
    top: 110px;
    left: 7px;
    font-size: 6px;
    width: 50px;
}

#side-social .fa-circle {
    color: #1E517C;
}

#side-social .fa-stack:hover .fa-circle {
  color: #337ab7;
}

#side-social:hover {
  cursor: pointer;
}

img#avatar_image {
  border-radius: 16px;
  height: 48px;
  width: 48px;
  margin: -5px;
  padding: 4px;
}


.navbar-default .navbar-nav>li>a.nav-button {
	padding: 9px;
}

.landing-logo {
  width: 200px;
  height: 21px;
  margin-top: 6px;
  float: left;
  margin-left: 115px;
}

.btn-twitter {
  /* color: #fff; */
  background-color: #55ACEE;
  /* border-color: rgba(0, 0, 0, 1); */
  border-radius: 25px;
}

.logo {
	height: 21px;
      
	position: absolute;     width: 100%;     left: 0;     top: 0;          margin: auto;
}

.logo img {
    height: 50px;
  
}

.navbar-toggle {
    margin: 10px 10px 4px 0px;
  
}

.navbar-default {
	background-color: #fff;
	/* border-bottom: 1px solid rgba(0,0,0,0.15); */
	text-align: center;
}

.navbar-default .navbar-nav>li>a {
	border-bottom: 5px solid #fff;
	font-size: 13px;
}

.navbar-default .navbar-nav>li>a:hover {
	border-bottom: 5px solid #337ab7;
	color: #337ab7;	
}

.navbar-default .navbar-nav>li>a.nav-button:hover {
	border-bottom: 5px solid #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #337ab7;
  border-bottom: 5px solid #337ab7;
  background-color: transparent;
}

.well.col-sm-9.col-sm-offset-3.col-md-6.col-md-offset-3.main {
  height: 50%;
}

#search_box {
	padding: 5px 10px;
	border: 1px solid #9d9d9d;
	margin-top: 8px;
	border-radius: 10px;
	background: #F7F7F7;
	width: 214px;
	margin: 8px;
}

#search_box input {
	border: none;
	background: #F7F7F7;
}

#categories_dropdown {
    height: 0;

    width: 100%;
    background: #fff;
    z-index: 2000;
    position: fixed;
    overflow: hidden;
}

#banner {
    color: #fff;

    background: #337ab7;
    text-align: center;
    padding: 12px 0 10px;
    font-size: 19px;
}

#categories_dropdown ul {
    float: left;

    list-style: none;
    padding: 34px;
}

#categories_dropdown li {

}

#categories_dropdown li a {
    padding: 5px;

}

#categories_dropdown.dropdown-expand {
	-webkit-animation: expand-category-dropdown 1s;
	-moz-animation:    expand-category-dropdown 1s;
	-o-animation:      expand-category-dropdown 1s;
	animation:         expand-category-dropdown 1s;
	height: 200px;
}

@-webkit-keyframes expand-category-dropdown {
  0%   { height: 0; }
  100% { height: 200px; }
}
@-moz-keyframes expand-category-dropdown {
  0%   { height: 0; }
  100% { height: 200px; }
}
@-o-keyframes expand-category-dropdown {
  0%   { height: 0; }
  100% { height: 200px; }
}
@keyframes expand-category-dropdown {
  0%   { height: 0; }
  100% { height: 200px; }
}

#loading-spinner {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 28px;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.watchlist_btn {
    font-size: 12px;
    padding: 3px 10px;
}

.watchlist_remove_btn {
  font-size: 12px;
  padding: 3px 10px;
}

.sort-listings {
  padding: 5px 0 5px 15px;
  font-size: 12px;
}

#sort-buttons {
    display: inline-block;
  
}

.sort_btn {
  font-size: 12px;
  padding: 3px 6px;
  margin-bottom: 10px;
  margin-left: 9px;
  border-radius: 10px;
}

.sort_btn.active {
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(226, 242, 253, 1);
}

.sort_btn:hover {
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(163, 208, 239, 1);
}

.sort_btn.active:hover {
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(163, 208, 239, 1);
}

/* ---------------------------
-- Sidebar
-----------------------------*/

.sidebar {
	overflow: hidden;
	background-color: transparent;
	border: none;
	padding-right: 0;
	margin-right: 0;
	text-align: right;
}

.sidebar_ad {
    height: 300px;

    overflow: hidden;
    margin-bottom: 5px;
}


/* ---------------------------
-- Etc
-----------------------------*/

.table-responsive {
  border: 1px solid rgb(218, 218, 218);
	
  margin-bottom: 0;
  overflow: hidden;
}

.entry_user img {
  border-radius: 5px;
	
  width: 48px;
}

.entry_head a {
    font-size: 12px;
	
    float: left;
}

.entry-empty {
    height: 80px;
	
}

.entry_head {
    text-align: right;
  
}

.modal_btn.sweeps_ts {
  
    font-size: 11px;
}

.table.table-striped tr {
	border-bottom: 1px solid #e1e8ed;
  cursor: pointer;
}

.table.table-striped tr:hover {
	background-color: rgba(222, 233, 240, 0.55);
}

.entry_user {
	width: 48px;
	float: left;
	/* height: 100%; */
	margin: 5px;
}

.entry_details {
	margin-left: 65px;
}

.entry {
	border-bottom: 1px solid rgb(218, 218, 218);
	padding: 3px;
}

.entry:nth-child(odd):hover,
.entry:nth-child(even):hover {
	background-color: #E7F5FF;
	cursor: pointer;
}

.entry:nth-child(odd) {
	background-color: #F5FBFF;
}

.entry:nth-child(even) {
	background-color: #fff;
}

.entry_text {
	font-size: 14px;
	min-height: 35px;
}

.entry_footer span {
	color: rgb(102, 117, 127);
	font-size: 12px;
	padding: 2px;
	padding-right: 8px;
}

/* ---------------------------
-- Modal
-----------------------------*/

.modal-ad {
    overflow: hidden;
}

.modal-sweepstakes-btn {
	padding-top: 5px;
	padding-left: 15px;
}

a .modal-details  {
	color: #000;
}

.modal-ad img {
    width: 250px;
}

.modal-details {
    padding: 5px 17px;
    font-size: 13px;
    margin-top: 5px;
    border-radius: 5px;
}

.modal-details:hover {
	background-color: #F9F9F9;
	cursor: pointer;
}

.modal_btn {
    display: block;
	color: rgb(102, 117, 127);
	font-size: 12px;
	padding: 2px;
}

.modal-title {
	margin: 5px 0;
}

.cat-item a {
    background: #0084b4;
	
    color: #fff;
    padding: 2px 8px;
    border-radius: 15px;
}

.cat-item a:hover {
	background: #00ACEA;
	text-decoration: none;
}

.modal-cats {
    padding: 10px;
	
}

.modal-cats small {
    color: #A1A1A1;
    font-size: 14px;
}

.modal-image img {
    width: 100%;
	
}

.right-ad {
    padding-left: 0;
	
    margin-top: 10px;
}

.categories {
    margin-top: 20px;
	
    background: #fff;
    padding: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    overflow: hidden;
    max-width: 243px;
}

.categories_page {
  background: #fff;
    padding: 15px;
}

.categories_page h2, .categories h2 {
    color: #777777;

    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.categories a {
    color: #0084B4;
   
	
}

.cat_entry {
    /* background: rgb(51, 122, 183); */
  
    margin-top: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
}

.cat_desc {
    color: #252525;

    font-size: 12px;
}

.categories a:hover {
  text-decoration: none;
}

.cat_count {
    color: #6F6F6F;
  
    font-size: 12px;
}

.categories a:hover .cat_entry {
  text-decoration: underline;
}

.category_entry a {
    background: #FFA7A7;
  
    padding: 10px;
}

#back-to-top {
    position: fixed;

    bottom: 10px;
    right: 45px;
    z-index: 1000;
}

#back-to-top a span {
    font-size: 30px;

    opacity: .5;
}

#back-to-top a:hover span {
	opacity: 1;
}

/* ---------------------------
-- Media Queries
-----------------------------*/

.nav>li.main-nav-item-menu {
	display: none;
}

.nav>li.main-nav-item-bar {
	display: inline;
}

@media (max-width: 1160px) {
	.logo {
		width: 200px;
		margin-left: 90px;
	
		margin-top: 10px;
}

	.logo img {
		/* width: 100%; */
	
		height: 50px;
  }
}

@media (max-width: 1100px) {
	.logo {
		width: 150px;
		margin-left: 75px;
	
		margin-top: 15px;
}

	.logo img {
		/* width: 90%; */
	
		height: 50px;
}
}

@media (max-width: 1010px) {
	.logo {
		width: 150px;
		margin-left: 25px;
	}

	.logo img {
		/* width: 90%; */
	
		height: 50px;
}
}

@media (min-width: 964px) {
  .row-ad {
    display: none;
  }
}


@media (max-width: 964px) {

	.logo {
		width: 150px;
		margin-left: 15px;
	
		margin-top: 7px;
}

	.logo img {
		height: 41px;
	}

	.nav>li.main-nav-item-menu {
		display: inline;
	}

	.nav>li.main-nav-item-bar {
		display: none;
	}

	.categories,
	.right-ad {
		display: none;
	}

  .sidebar {
    display: none;
  }

  #side-social {
    display: none;
  }

  .categories {
    display: none;
  }

  #share-button {
    display: none;
  }

  .navbar-default {
    text-align: left;
  }



}

@media (max-width: 400px) {
  #sort-buttons {
    max-width: 240px;
  }
}



/* ---------------------------
-- Profile
-----------------------------*/

.profile-watched-sweepstakes {
  margin-top: 25px;
}

.profile_sweepstake_entry {
  width: 125px;
  float: right;
  /* margin: -2px; */
  padding: 11px;
}
.profile_entry_footer {
  color: rgb(85, 172, 238);
  font-size: 10px;
  padding: 2px;
  padding-right: 3px;
}

.profile_sweepstake_text {
  font-size: 10px;
}


.profile {
  background-color: rgba(131, 112, 112, 0.29);
  min-height: 800px;
  color: #868686;
  margin-bottom: 5px;
  font-size: 18px;
  margin-top: 20px;
  background: #fff;
  padding: 15px;
  border: 1px solid #DDD;
  border-radius: 5px;
}

ul.avatar.dropdown-menu {
  text-align: right;
}


.btn-avatar {
  color: #333;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-avatar:hover {
	color: #333;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.line {
  height: 2px;
  background-color: rgb(85, 172, 238);
  width: 334px;
}

img#profile_image {
  margin-right: 11px;
  border-radius: 8px;
}


.row-ad {
  width: 98%;
}