
<html>

<head>

 {% include "sweepstakes/fragments/imports.html" %}

</head>

<body>
	{% include "sweepstakes/fragments/nav-bar.html" %}

	<div class="container-fluid">

  		<div class="row">


      	<div class="col-lg-12 col-lg-offset-3">

          <p>TweetSweeps is a website that stores all of the sweepstakes on twitter, yadada ydadadadad...</p>

        </div>    
        
  		</div>

 	</div>

<!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          
        </div>
      </div>
    </div>

</body>
    <script type="text/JavaScript">
      {% if user and not user.is_anonymous %}
       function watchSweepstake(sweepstakes_id) {
          $.ajax({
            method: "GET",
            url: "/watch-sweepstake/"+sweepstakes_id
          });
        }
      {% else %}
        function watchSweepstake(sweepstakes_id) {
          window.location.href = "/login/twitter";
        }
      {% endif %}


      function setModalDetails(sweepstakes_id) {
        $.ajax({
          method: "GET",
          url: "/modal/"+sweepstakes_id
        })
          .done(function( data ) {
            $('#myModal .modal-content').html(data)
          });
      }

      $("a[href='#top']").click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
      });

      function search() {
        var searchKey = $('#search_keyword').val()
        window.location.href = "/search/"+searchKey;
      }

      $('#search_keyword').keypress(function (e) {
        if (e.which == 13) {
          search();
        }
      });

      $('#categories_nav_link').hover(function() {
        $( '#categories_dropdown' ).addClass('dropdown-expand');
      }, function() {
        //$( '#categories_dropdown' ).removeClass('dropdown-expand');
      })

      $('#categories_dropdown').hover(function() {
        //$( '#categories_dropdown' ).addClass('dropdown-expand');
      }, function() {
        $( '#categories_dropdown' ).removeClass('dropdown-expand');
      })

      

    </script>
	

</html>