
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>

    {% include "sweepstakes/fragments/imports.html" %}

  </head>
  <body>
    {% include "sweepstakes/fragments/nav-bar.html" %}
    <div id="back-to-top">
      <a href="#top" title="Back to Top"><span class="fa fa-arrow-circle-up"></span></a>
    </div>
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-xs-3 col-md-2 col-md-offset-1 sidebar">
          <div class="sidebar_ad">
    				<img src="{% static 'sweepstakes/img/ad_column.png' %}"><br>
          </div>
          <div class="sidebar_ad">
            <img src="{% static 'sweepstakes/img/ad_column.png' %}">
          </div>
  			</div>
		<div class="col-xs-12 col-md-6 col-md-offset-3 main">
			<div class="table-responsive">
		        <div class="categories_page">
		          <h2> Categories </h2>
		            {% for cat in categories %}
		              <a href="/category/{{cat}}">
		                <div class="cat_entry">
		                  {{cat.category_name}}
		                </div>
		                <div class="cat_desc">
		                  {{cat.category_desc}}
		                </div>
		                <div class="cat_count">
		                  {{cat.num_entries}} Sweepstakes in this category
		                </div>
		              </a>
		            {% endfor %}        
		        </div>
		    </div>
		</div>
        <div id="share-button" class="col-xs-3 col-md-3">
          <h2>Grab our Button</h2>
          <img src="{% static 'sweepstakes/img/button.png' %}">
          <textarea id="share-button-code">
<a href="http://tweetsweeps.com">
  <img src="http://tweetsweeps.com/static/sweepstakes/img/button.png">
</a>
          </textarea>
        </div>
        <div class="col-xs-3 col-md-2 right-ad">
          <img src="{% static 'sweepstakes/img/ad_square.png' %}">
        </div>
  		</div>
  	</div>

</body>

</html>

