<html>

<head>
	{% load staticfiles %}

	{% include "sweepstakes/fragments/imports.html" %}
</head>

<body>

	<!-- Navbar -->
	<nav class="navbar navbar-default navbar-fixed-top affix-top">

		<div class="container-fluid">
  			<div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					    <span class="sr-only">Toggle navigation</span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					</button>
					<ul class="nav navbar-nav navbar-left">
					    <li class="main-nav-item-bar">
					        <a class="page-scroll" href="/"><span class="fa fa-home"></span> Home</a>
					    </li>
					    <li class="main-nav-item-bar">
					          <a class="btn btn-social-icon btn-twitter">
									    <i class="fa fa-twitter"></i>
									  </a>
					    </li>
					</ul>
					<span class="landing-logo">
						<a href="/"><img src="{% static 'sweepstakes/img/logo.png' %}"></a>
					</span>

				</div>

	  </div>

	 </nav>
	 <!-- End of nav bar -->
	
</body>

</html>