{% load staticfiles %}

<div class="modal-body">
	<div class="col-md-6 modal-ad">
		<a href='http://afclklt.pch.com/click.track?CID=305633&AFID=357741&ADID=1383844&SID='><img src='http://afclklt.pch.com/impression.track?CID=305633&AFID=357741&ADID=1383844&SID=' border='0' /></a>
	</div>
	<div class="col-md-6 modal-title">
		<a href='https://twitter.com/{{sweepstakes.user_id.screen_name}}'>
            <img src="{{sweepstakes.user_id.profile_image_url}}">
          </a>
		<a href='https://twitter.com/{{sweepstakes.user_id.screen_name}}'>
          {{sweepstakes.user_id.name_unicode}}
        </a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a href='https://twitter.com/{{sweepstakes.user_id.screen_name}}'>
          <small>@{{sweepstakes.user_id.screen_name_unicode}}</small>
        </a>
        <span class="modal_btn"><li class="fa fa-refresh"></li> Retweeted {{sweepstakes.retweeted_count}}</span>
        <span class="modal_btn"><li class="fa fa-star"></li> Favorited {{sweepstakes.favorited_count}}</span>
        <span class="modal_btn"><li class="fa fa-user"></li> Followers {{sweepstakes.user_id.followers_count}}</span>
	      {% if sweepstakes.id in watched_ids %}
	            <span class="btn btn-default watchlist_btn" onclick="watchSweepstake({{sweepstakes.id}})" class="footer_btn"><li class="fa fa-clock-o"></li> Watching</span>
	      {% else %}
	        <span class="btn btn-default watchlist_btn" onclick="watchSweepstake({{sweepstakes.id}})" class="footer_btn"><li class="fa fa-clock-o"></li> Add to watching list</span>
	      {% endif %}
	</div>
	<div class="col-xs-6 col-md-3 modal-sweepstakes-btn">
		<a href="{{sweepstakes.sweepstakes_link}}">
			<button type="button" class="btn btn-default" aria-label="Left Align">
			  <span class="fa fa-external-link-square" aria-hidden="true"></span> View<br>Sweepstake
			</button>
		</a>
	</div>
	<div class="col-xs-12 col-md-6 ">
		<span class="modal_btn">Posted at: {{sweepstakes.posted_timestamp}}</span>
	</div>
	<a href="https://twitter.com/{{sweepstakes.user_id.screen_name}}/status/{{sweepstakes.twitter_post_id}}">
		<div class="col-xs-12 col-md-6 modal-details">
			{{sweepstakes.text_unicode|safe}}
		</div>
	</a>
</div>
<div class="col-md-12 modal-cats">
	<small>Categories: </small>
	{% for cat in sweepstakes.categories.all %}
		<span class="cat-item"><a href="/category/{{cat.category_name}}">{{cat.category_name}}</a></span>
	{% endfor %}
</div>
<div class="col-md-12 modal-image">
	{% if sweepstakes.sweepstakes_image_url %}
	<a href="{{sweepstakes.sweepstakes_link}}"><img src="{{sweepstakes.sweepstakes_image_url}}"></a>
	{% endif %}
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

<script type="text/javascript">
  $('.watchlist_btn').click(function() {
        $(this).html('<li class="fa fa-clock-o"></li> Watching');
      })
</script>