<html>

<head>

 {% include "sweepstakes/fragments/imports.html" %}

</head>

<body>
	{% include "sweepstakes/fragments/nav-bar.html" %}

	<div class="container-fluid">

  		<div class="row">


  			<div class="col-md-8 col-md-offset-2 profile">
	      	
	      	<div class="col-lg-12">

	      		<h2><img id="profile_image" src=" {{ user.profile_image_url }} "/>{{ user.name_unicode }}'s Profile</h2>

	      		<span id="followers">
	      			<i class="fa fa-users"> </i> {{ user.followers_count }} followers
	      		</span>

	      		<span id="watch-sweapstakes">
	      			<i class="fa fa-clock-o"> </i> {{ watched_count }} watched sweepstakes
	      		</span>

	      		<div class="line"></div>

	      		<div class="col-lg-12 profile-watched-sweepstakes">
              <h2>Watched Sweepstakes</h2>
              <div class="table-responsive">
	      			{% for sweepstakes_item in sweepstakes %}
                  <div class="entry" id="{{sweepstakes_item.id}}" data-toggle="modal" data-target="#myModal" onclick="setModalDetails({{sweepstakes_item.id}})">
                  <div class="entry_user">
                    <a href='https://twitter.com/{{sweepstakes_item.user_id.screen_name}}'>
                      <img src="{{sweepstakes_item.user_id.profile_image_url}}">
                    </a>
                  </div>
                  <div class="entry_details">
                    <div class="entry_head">
                      <a href='https://twitter.com/{{sweepstakes_item.user_id.screen_name}}'>
                        {{sweepstakes_item.user_id.name_unicode}} <small>@{{sweepstakes_item.user_id.screen_name_unicode}}</small>
                      </a>
                      <span class="modal_btn sweeps_ts">{{sweepstakes_item.posted_timestamp}}</span>
                    </div>
                    <div class="entry_text">{{sweepstakes_item.text_unicode|safe}}</div>
                    <div class="entry_footer">
                      <span class="footer_btn"><li class="fa fa-refresh"></li> {{sweepstakes_item.retweeted_count}}</span>
                      <span class="footer_btn"><li class="fa fa-star"></li> {{sweepstakes_item.favorited_count}}</span>
                      <span class="footer_btn"><li class="fa fa-user"></li> {{sweepstakes_item.user_id.followers_count}}</span>
                        {% if sweepstakes_item.id in watched_ids %}
                              {% if current_category == "Lastest Sweepstakes" %}
                                <span class="btn btn-default watchlist_btn" onclick="watchSweepstake({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-clock-o"></li> Watching</span>
                              {% else %}
                                <span class="btn btn-default view_btn" data-toggle="modal" data-target="#myModal" onclick="setModalDetails({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-clock-o"></li> View Sweepstake</span>
                                <span class="btn btn-default watchlist__remove_btn" onclick="stopWatchingSweepstake({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-trash-o"></li> Stop Watching</span>
                              {% endif %}
                        {% else %}
                          <span class="btn btn-default watchlist_btn" onclick="watchSweepstake({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-clock-o"></li> Add to watching list</span>
                        {% endif %}
                     </div>
                  </div>
                </div>
                      {% empty %}
                        <div class="entry entry-empty" >
                          There are no sweepstakes here.
                        </div>
                    {% endfor %}    
              </div>
	      		</div>

            <div class="col-lg-12 profile-posted-sweepstakes">
              <h2>Posted Sweepstakes</h2>
              <div class="table-responsive">
              {% for sweepstakes_item in posted_sweepstakes %}
                    <div class="entry" id="{{sweepstakes_item.id}}" data-toggle="modal" data-target="#myModal" onclick="setModalDetails({{sweepstakes_item.id}})">
                    <div class="entry_user">
                      <a href='https://twitter.com/{{sweepstakes_item.user_id.screen_name}}'>
                        <img src="{{sweepstakes_item.user_id.profile_image_url}}">
                      </a>
                    </div>
                    <div class="entry_details">
                      <div class="entry_head">
                        <a href='https://twitter.com/{{sweepstakes_item.user_id.screen_name}}'>
                          {{sweepstakes_item.user_id.name_unicode}} <small>@{{sweepstakes_item.user_id.screen_name_unicode}}</small>
                        </a>
                        <span class="modal_btn sweeps_ts">{{sweepstakes_item.posted_timestamp}}</span>
                      </div>
                      <div class="entry_text">{{sweepstakes_item.text_unicode|safe}}</div>
                      <div class="entry_footer">
                        <span class="footer_btn"><li class="fa fa-refresh"></li> {{sweepstakes_item.retweeted_count}}</span>
                        <span class="footer_btn"><li class="fa fa-star"></li> {{sweepstakes_item.favorited_count}}</span>
                        <span class="footer_btn"><li class="fa fa-user"></li> {{sweepstakes_item.user_id.followers_count}}</span>
                          {% if sweepstakes_item.id in watched_ids %}
                                {% if current_category == "Lastest Sweepstakes" %}
                                  <span class="btn btn-default watchlist_btn" onclick="watchSweepstake({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-clock-o"></li> Watching</span>
                                {% else %}
                                  <span class="btn btn-default view_btn" data-toggle="modal" data-target="#myModal" onclick="setModalDetails({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-clock-o"></li> View Sweepstake</span>
                                  <span class="btn btn-default watchlist__remove_btn" onclick="stopWatchingSweepstake({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-trash-o"></li> Stop Watching</span>
                                {% endif %}
                          {% else %}
                            <span class="btn btn-default watchlist_btn" onclick="watchSweepstake({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-clock-o"></li> Add to watching list</span>
                          {% endif %}
                       </div>
                    </div>
                  </div>
                      {% empty %}
                        <div class="entry entry-empty" >
                          There are no sweepstakes here.
                        </div>
                    {% endfor %}    
              </div>
            </div>
          </div>   
	      	</div>    

          
	          
	     	</div>		
	  			

  		</div>

 	</div>

<!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          
        </div>
      </div>
    </div>

</body>
    <script type="text/JavaScript">
      {% if user and not user.is_anonymous %}
       function watchSweepstake(sweepstakes_id) {
          $.ajax({
            method: "GET",
            url: "/watch-sweepstake/"+sweepstakes_id
          });
        }
      {% else %}
        function watchSweepstake(sweepstakes_id) {
          window.location.href = "/login/twitter";
        }
      {% endif %}


      function setModalDetails(sweepstakes_id) {
        $.ajax({
          method: "GET",
          url: "/modal/"+sweepstakes_id
        })
          .done(function( data ) {
            $('#myModal .modal-content').html(data)
          });
      }

      $("a[href='#top']").click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
      });

      function search() {
        var searchKey = $('#search_keyword').val()
        window.location.href = "/search/"+searchKey;
      }

      $('#search_keyword').keypress(function (e) {
        if (e.which == 13) {
          search();
        }
      });

      $('#categories_nav_link').hover(function() {
        $( '#categories_dropdown' ).addClass('dropdown-expand');
      }, function() {
        //$( '#categories_dropdown' ).removeClass('dropdown-expand');
      })

      $('#categories_dropdown').hover(function() {
        //$( '#categories_dropdown' ).addClass('dropdown-expand');
      }, function() {
        $( '#categories_dropdown' ).removeClass('dropdown-expand');
      })

      

    </script>
	

</html>