<html>

<head>

 {% include "sweepstakes/fragments/imports.html" %}

</head>

<body>
  {% include "sweepstakes/fragments/nav-bar.html" %}

  <div class="container-fluid">

      <div class="row">


        <div class="col-md-8 col-md-offset-2 profile">
          
          <div class="col-lg-12">

            <div class="col-lg-12 profile-watched-sweepstakes">
              
              <div class="table-responsive">
               
                <div class="col-md-6">
                  <a href='https://twitter.com/{{sweepstake.user_id.screen_name}}'>
                          <img src="{{sweepstake.user_id.profile_image_url}}">
                        </a>
                  <a href='https://twitter.com/{{sweepstake.user_id.screen_name}}'>
                        @{{sweepstake.user_id.name_unicode}}
                      </a>
                </div>

                  <div class="col-xs-6 col-md-3">
                    <a href='https://twitter.com/{{sweepstake.user_id.screen_name}}'>
                        </a>
                        <span class="modal_btn"><li class="fa fa-refresh"></li> Retweeted {{sweepstake.retweeted_count}}</span>
                        <span class="modal_btn"><li class="fa fa-star"></li> Favorited {{sweepstake.favorited_count}}</span>
                        <span class="modal_btn"><li class="fa fa-user"></li> Followers {{sweepstake.user_id.followers_count}}</span>
                  </div>
              
                <div class="col-xs-12 col-md-6 ">
                    <span class="modal_btn">Posted at: {{sweepstake.posted_timestamp}}</span>
                  </div>
                  <a href="https://twitter.com/{{sweepstake.user_id.screen_name}}/status/{{sweepstake.twitter_post_id}}">
                    <div class="col-xs-12 col-md-6 modal-details">
                      {{sweepstake.text_unicode|safe}}
                    </div>
                  </a>
                </div>

                <div class="col-md-12 modal-image">
                  {% if sweepstake.sweepstakes_image_url %}
                  <a href="#"><img src="{{sweepstake.sweepstakes_image_url}}"></a>
                  {% endif %}
                </div>

              </div>
            </div>

          </div>   
          </div>    

          
            
        </div>    
          

      </div>

  </div>

<!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          
        </div>
      </div>
    </div>

</body>
    <script type="text/JavaScript">
      {% if user and not user.is_anonymous %}
       function watchSweepstake(sweepstakes_id) {
          $.ajax({
            method: "GET",
            url: "/watch-sweepstake/"+sweepstakes_id
          });
        }
      {% else %}
        function watchSweepstake(sweepstakes_id) {
          window.location.href = "/login/twitter";
        }
      {% endif %}


      function setModalDetails(sweepstakes_id) {
        $.ajax({
          method: "GET",
          url: "/modal/"+sweepstakes_id
        })
          .done(function( data ) {
            $('#myModal .modal-content').html(data)
          });
      }

      $("a[href='#top']").click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
      });

      function search() {
        var searchKey = $('#search_keyword').val()
        window.location.href = "/search/"+searchKey;
      }

      $('#search_keyword').keypress(function (e) {
        if (e.which == 13) {
          search();
        }
      });

      $('#categories_nav_link').hover(function() {
        $( '#categories_dropdown' ).addClass('dropdown-expand');
      }, function() {
        //$( '#categories_dropdown' ).removeClass('dropdown-expand');
      })

      $('#categories_dropdown').hover(function() {
        //$( '#categories_dropdown' ).addClass('dropdown-expand');
      }, function() {
        $( '#categories_dropdown' ).removeClass('dropdown-expand');
      })

      

    </script>
  

</html>