{% load endless %}


{% paginate sweepstakes %}
    {% for sweepstakes_item in sweepstakes %}
      {% if current_category != "Watched Sweepstakes" %}
        <div class="entry" id="{{sweepstakes_item.id}}">
      {% else %}
        <div class="entry" id="{{sweepstakes_item.id}}">
      {% endif %}
        <div class="entry_user">
          <a href='https://twitter.com/{{sweepstakes_item.user_id.screen_name}}'>
            {% if not sweepstakes_item.user_id.profile_image_url %}
               <img src="http://a0.twimg.com/sticky/default_profile_images/default_profile_5_normal.png">
            {% else %}
               <img src="{{sweepstakes_item.user_id.profile_image_url}}" onError="this.onerror=null;this.src='https://abs.twimg.com/sticky/default_profile_images/default_profile_1_normal.png';">
            {% endif %}
          </a>
        </div>
        <div class="entry_details" >
          <div class="entry_head">
            <a href='https://twitter.com/{{sweepstakes_item.user_id.screen_name}}'>
              {{sweepstakes_item.user_id.name_unicode}} <small>@{{sweepstakes_item.user_id.screen_name_unicode}}</small>
            </a>
            <span class="modal_btn sweeps_ts">{{sweepstakes_item.posted_timestamp}}</span>


          </div>
          <div class="entry_text">
            {{sweepstakes_item.text_unicode|safe}}
          </div>

          <div class="entry_footer">
            <span class="footer_btn"><li class="fa fa-refresh"></li> {{sweepstakes_item.retweeted_count}}</span>
            <span class="footer_btn"><li class="fa fa-star"></li> {{sweepstakes_item.favorited_count}}</span>
            <span class="footer_btn"><li class="fa fa-user"></li> {{sweepstakes_item.user_id.followers_count}}</span>
              {% if sweepstakes_item.id in watched_ids %}
                    {% if current_category == "Lastest Sweepstakes" %}
                      <span class="btn btn-default watchlist_btn" onclick="watchSweepstake({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-clock-o"></li> Watching</span>
                    {% else %}
                      <span class="btn btn-default view_btn" data-toggle="modal" data-target="#myModal" onclick="setModalDetails({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-clock-o"></li> View Sweepstake</span>
                      <span class="btn btn-default watchlist__remove_btn" onclick="stopWatchingSweepstake({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-trash-o"></li> Stop Watching</span>
                    {% endif %}
              {% else %}
                <span class="btn btn-default view_btn" data-toggle="modal" data-target="#myModal" onclick="setModalDetails({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-clock-o"></li> View Sweepstake</span>
                <span class="btn btn-default watchlist_btn" onclick="watchSweepstake({{sweepstakes_item.id}})" class="footer_btn"><li class="fa fa-clock-o"></li> Add to watching list</span>
              {% endif %}
                 <span class="social" data-toggle="modal" data-target="#shareModal" onclick="getSweepstakes({{sweepstakes_item.id}})"><i class="fa fa-share-alt fa-1"></i></span>

           </div>
        </div>
      </div>
      {% empty %}
        <div class="entry entry-empty" >
          There are no sweepstakes here.
        </div>
    {% endfor %}     
<div>{% show_more '<center><i id="loading-spinner" class="fa fa-spinner"></i></center>' %}</div>

<script type="text/javascript">
  $('.watchlist_btn').click(function() {
        $(this).html('<li class="fa fa-clock-o"></li> Watching');
      })
   $('.watchlist__remove_btn').click(function() {
        $(this).remove();
      })
</script>


















