
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>

    {% include "sweepstakes/fragments/imports.html" %}

  </head>
  <body>
    {% include "sweepstakes/fragments/nav-bar.html" %}
    <div id="back-to-top">
      <a href="#top" title="Back to Top"><span class="fa fa-arrow-circle-up"></span></a>
    </div>
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-xs-3 col-md-2 col-md-offset-1 sidebar">
          <div class="sidebar_ad">
    				<img src="{% static 'sweepstakes/img/ad_column.png' %}"><br>
          </div>
          <div class="sidebar_ad">
            <img src="{% static 'sweepstakes/img/ad_column.png' %}">
          </div>
  			</div>
  			<div class="col-xs-9 col-xs-offset-3 col-md-6 col-md-offset-3 main">
  				<div class="table-responsive">

          {% include page_template %}
             {% block js %}
                    <script src="http://code.jquery.com/jquery-latest.js"></script>
                    <script src="{% static 'endless_pagination/endless-pagination.js' %}"></script>
                    <script>$.endlessPaginate({paginateOnScroll: true});</script>
             {% endblock %}
          </div>
        </div>
        <div class="col-xs-3 col-md-2 right-ad">
          <img src="{% static 'sweepstakes/img/ad_square.png' %}">
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- <script src="../../assets/js/vendor/holder.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <script type="text/JavaScript">
      {% if user and not user.is_anonymous %}
         function watchSweepstake(sweepstakes_id) {
            $.ajax({
              method: "GET",
              url: "/watch-sweepstake/"+sweepstakes_id
            });
         }

         function stopWatchingSweepstake(sweepstakes_id) {
            $.ajax({
              method: "GET",
              url: "/remove-sweepstake/"+sweepstakes_id
            })
            .done(function( data ) {
              $('div#'+sweepstakes_id+'.entry').fadeOut("slow");
            });
         }

      {% else %}
        function watchSweepstake(sweepstakes_id) {
          window.location.href = "/login/twitter";
        }

        function stopWatchingSweepstake(sweepstakes_id) {
            $.ajax({
              method: "GET",
              url: "/remove-sweepstake/"+sweepstakes_id
            });
         }
      {% endif %}


      function setModalDetails(sweepstakes_id) {
        $.ajax({
          method: "GET",
          url: "/modal/"+sweepstakes_id
        })
          .done(function( data ) {
            $('#myModal .modal-content').html(data)
          });
      }

      $("a[href='#top']").click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
      });

      function search() {
        var searchKey = $('#search_keyword').val()
        window.location.href = "/search/"+searchKey;
      }

      $('#search_keyword').keypress(function (e) {
        if (e.which == 13) {
          search();
        }
      });

      $('#search_btn').click(function () {
        search();
      });

      $('#categories_nav_link').hover(function() {
        $( '#categories_dropdown' ).addClass('dropdown-expand');
      }, function() {
        //$( '#categories_dropdown' ).removeClass('dropdown-expand');
      })

      $('#categories_dropdown').hover(function() {
        //$( '#categories_dropdown' ).addClass('dropdown-expand');
      }, function() {
        $( '#categories_dropdown' ).removeClass('dropdown-expand');
      })

      

    </script>
</body>

</html>
