{% load staticfiles %}

<div id="side-social">
  <span class="fa-stack fa-4x" onclick="window.location = 'https://www.facebook.com/wintweetsweeps'">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
  </span>
  <span class="fa-stack fa-4x" onclick="window.location = 'https://twitter.com/wintweetsweeps'">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
  </span>
  <span class="fa-stack fa-4x" data-toggle="tooltip" title="Coming Soon">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
  </span>
</div>

<nav class="navbar navbar-default navbar-fixed-top affix-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav navbar-left">
                    <li class="main-nav-item-bar">
                        <a class="page-scroll" href="/"><span class="fa fa-home"></span> Home</a>
                    </li>
                    <li class="main-nav-item-bar">
                        <a class="page-scroll" href="/categories" id="categories_nav_link"><span class="fa fa-list"></span> Categories</a>
                    </li>
                    <li class="main-nav-item-bar">
                      {% if user and not user.is_anonymous %}
                        <a class="page-scroll" href="/watched-sweepstakes"><span class="fa fa-clock-o"></span> Watched Sweepstakes</a>
                      {% else %}
                        <a class="page-scroll" href="/login/twitter"><span class="fa fa-clock-o"></span> Watched Sweepstakes</a>
                      {% endif %}
                    </li>
                </ul>
                <span class="logo">
                  <a href="/"><img src="{% static 'sweepstakes/img/logo.png' %}"></a>
                  
                </span>
               <!--  <span class="header-text">The largest directory of free Twitter contests and sweepstakes</span> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li class="main-nav-item-menu">
                        <a class="page-scroll" href="/"><span class="fa fa-home"></span> Home</a>
                    </li>
                    <li class="main-nav-item-menu">
                        <a class="page-scroll" href="/categories"><span class="fa fa-list"></span> Categories</a>
                    </li>
                    <li class="main-nav-item-menu">
                        <a class="page-scroll" href="/watched-sweepstakes"><span class="fa fa-clock-o"></span> Watched Sweepstakes</a>
                    </li>
                    <li>
                        <div id="search_box">
                          <input type="text" placeholder="search" id="search_keyword">
                          <span class="fa fa-search" id="search_btn"></span>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="conatct_btn" data-toggle="modal" data-target="#contact_modal">
                          <span class="fa fa fa-envelope" ></span>
                        </a>
                    </li>
                    <li>
                        {% if user and not user.is_anonymous %}
                          <div class="dropdown">
                              <button class="btn btn-avatar dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><img id="avatar_image" src="{{ user.profile_image_url }}"> <span class="caret"></button>
                                  <ul class="avatar dropdown-menu" role="menu" aria-labelledby="menu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile/"><i class="fa fa-user"> Profile</a></i></li>
                                      <li role="presentation" class="divider"></li>
                                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/">Logout <i class="fa fa-sign-out"></a></i></li>
                                   </ul>
                            </div>
                        {% else %}
                          <a class="page-scroll" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login</a>
                        {% endif %}
                    </li>
                    <li>
                        {% include "sweepstakes/fragments/post-tweet-modal.html" %}
                        {% if user and not user.is_anonymous %}
                          <a href="#post-modal" class="page-scroll nav-button" data-backdrop="false" data-toggle="modal">
                        {% else %}
                          <a class="nav-button" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                        {% endif %}
                        <button><span class="fa fa-pencil-square-o"></span> Post</button></a>  
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
<div id="categories_dropdown">
 {% for cat in categories %}
   {% cycle '<ul><li>' '<li>' '<li>' '<li>' '<li>' %}
   <a href="/category/{{cat}}">{{cat}}</a>
   {% cycle '</li>' '</li>' '</li>' '</li>' '</li></ul>' %}
 {% endfor %}
</div>
<div id="banner">
 {% if current_category %}
   {{current_category}}
 {% else %}
   Latest Sweepstakes
 {% endif %}
</div>




<!-- Modal -->
<div id="contact_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Contact us</h4>
      </div>
      <div class="modal-body">
        <p>Email: <a href="mailto:contact@wintweetsweeps.com">contact@wintweetsweeps.com</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>