{% load staticfiles %}

<div id="post-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Post to Tweetsweeps & Twitter</h4>
            </div>
            <div id="postErrors">
            </div>

            <form enctype="multipart/form-data" action="/post-sweepstake/" method="post">
                {% csrf_token %}

                <div class="modal-body">
                    <div class="col-lg-12">
                        <label for="sweepstakes_link">Sweepstakes Link: </label>
                        <input id="sweepstakes_link" type="text" name="sweepstakes_link" value="">
                    </div>

                    <div class="col-lg-12">
                           <textarea placeholder="Please enter a post between 30-140 characters long." class="tweet-message" cols="40" rows="5" name="message" id="post_message"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="choose_file">
                      <span><i class="fa fa-camera"></i> Add Photo</span>
                      <input type="file" name="tweet-photo" accept="image/gif,image/jpeg,image/jpg,image/png," class="file-input js-tooltip" tabindex="-1" data-original-title="Addd photo"><span class="image-name"></span>
                    </div>
                <div id="tweet-message-count" class="pull-right">140</div>
                <div id="photo-text" class="pull-left"></div>
                <button type="button" class="btn btn-primary cancel-post" data-dismiss="modal">Cancel</button>
                <button id="post_btn" disabled><span class="fa fa-pencil-square-o"></span> Post</button>
            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

