{% load staticfiles %}

{% load social_share %}


<div class="modal-body">
    <div class="col-md-12 modal-title">
        <a href='https://twitter.com/{{sweepstakes.user_id.screen_name}}'>
          Posted By: @{{sweepstakes.user_id.screen_name_unicode}}
        </a>
    </div>
    <a href="https://twitter.com/{{sweepstakes.user_id.screen_name}}/status/{{sweepstakes.twitter_post_id}}">
        <div class="col-xs-12 col-md-6 modal-details">
            {{sweepstakes.text_unicode|safe}}
        </div>
    </a>
            <p>
            <a title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://wintweetsweeps.com/sweepstake/{{sweepstakes.id}}" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></a> 

            <a title="Twitter" href="http://twitter.com/intent/tweet?text=Check out this sweepstake: http://wintweetsweeps.com/sweepstake/{{sweepstakes.id}}! Posted via http://wintweetsweeps.com " class="meta-act-link meta-tweet"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a> 

            <a title="Google+" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x"></i></span></a> 
        </p>
        
        <p>Tell your friends about this sweepstake!</p>
</div>
<div class="col-md-12 modal-cats">
    <small>Categories: </small>
    {% for cat in sweepstakes.categories.all %}
        <span class="cat-item"><a href="/category/{{cat.category_name}}">{{cat.category_name}}</a></span>
    {% endfor %}
</div>
<div class="col-md-12 modal-image">
    {% if sweepstakes.sweepstakes_image_url %}
    <a href="#"><img src="{{sweepstakes.sweepstakes_image_url}}"></a>
    {% endif %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

<script type="text/javascript">
  $('.watchlist_btn').click(function() {
        $(this).html('<li class="fa fa-clock-o"></li> Watching');
      })
</script>